DATABASE_URL=postgresql+asyncpg://admin-joe:zou@7021926ZOU!@localhost:5432/flash-card-data
SECRET_KEY=change-me-to-a-long-random-string
ENCRYPTION_KEY=change-me-to-a-32-byte-long-key!!
ACCESS_TOKEN_EXPIRE_MINUTES=10080
ALGORITHM=HS256
